@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts, baby! */
@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-ExtraBold.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  /* background-color: #050505; */
  background-color: #0e1217;
  color: white;
  min-height: 100vh;
  @apply antialiased;
}

main {
  margin: 0 auto;
}

.navbar a {
  color: #888888;
}

h1 {
  font-weight: 800;
  line-height: 67px;
}

p,
span {
  font-weight: 400;
}

p {
  color: #888888;
}

a {
  text-decoration: none !important;
  text-decoration-thickness: 1px !important;
  transition: 100ms;
}

a:hover {
  color: #fff !important;
  transition: 100ms;
}
