---
import Layout from '../layouts/Layout.astro'
import Navbar from '@/Navbar.astro'
import Footer from '@/Footer.astro'

import '../styles/base.css'
---

<Layout title="Blog">
  <Navbar />
  <main>
    <section class="py-10">
      <div class="mx-auto px-4 py-56 md:max-w-[1211px] md:px-8">
        <h2 class="!leading-140 text-3xl font-semibold tracking-tight md:font-bold 2xl:text-4xl">Blog</h2>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
