---
import Layout from '../layouts/Layout.astro'
import Navbar from '@/Navbar.astro'
import Footer from '@/Footer.astro'
import Hero from '@/section/Hero.astro'
import Skill from '@/section/Skill.astro'
import Project from '@/section/Project.astro'

import '../styles/base.css'
---

<Layout title="Robi Alisandi - Frontend Developer">
  <Navbar />
  <main>
    <Hero />
    <Skill />
    <Project />
    <Project />
  </main>
  <Footer />
</Layout>
