---
import Icon from '@/icon/Icon.astro'
---

<footer class="mt-20">
  <div class="py-7 text-center">
    <div class="mb-5 flex items-center justify-center space-x-4">
      <a href="https://github.com/robialisandi" class="hover:text-green-light" target="_blank">
        <Icon icon="Github" />
      </a>
      <a href="https://www.instagram.com/robilsnd/" class="hover:text-green-light" target="_blank">
        <Icon icon="Instagram" />
      </a>
      <a href="https://twitter.com/ngdnxdw" class="hover:text-green-light" target="_blank">
        <Icon icon="Twitter" />
      </a>
    </div>
    <p>Made with Astro and designed happily using Figma 🤟 by Robi Alisandi</p>
  </div>
</footer>
