---
import ThemeToggle from './ThemeToggle'
---

<header class="navbar sticky inset-x-0 top-[40px] mx-auto mb-[-72px] mt-0 md:min-w-[1211px]">
  <div
    class="mx-auto flex justify-between rounded-[32px] border border-[#e9e9e9] bg-[#f0f0f0] bg-opacity-50 py-[23px] px-[40px] backdrop-blur-[10px] dark:border-[#2A2B37] dark:bg-[#2A2B38] dark:bg-opacity-50 md:max-w-[1196px] md:px-8"
  >
    <div class="text-[16px] font-bold">ROBIWEBDEV.</div>
    <ul class="flex">
      <li class="px-[16px]">
        <a href="/" class="hover:text-black dark:text-[#888888] dark:hover:text-white">About</a>
      </li>
      <li class="px-[16px]">
        <a href="" class="hover:text-black dark:text-[#888888] dark:hover:text-white">Skill</a>
      </li>
      <li class="px-[16px] no-underline">
        <a href="" class="hover:text-black dark:text-[#888888] dark:hover:text-white">Project</a>
      </li>
      <li class="px-[16px] no-underline">
        <a href="/blog" class="hover:text-black dark:text-[#888888] dark:hover:text-white">Blog</a>
      </li>
      <li class="flex items-center pl-[20px]">
        <ThemeToggle client:load />
      </li>
    </ul>
  </div>
</header>
