<header class="navbar sticky inset-x-0 top-[40px] mx-auto mb-[-72px] mt-0 md:min-w-[1211px]">
  <div
    class="mx-auto flex justify-between rounded-[32px] border border-[#2A2B37] bg-[#2A2B38] bg-opacity-50 py-[23px] px-[40px] backdrop-blur-[10px] md:max-w-[1196px] md:px-8"
  >
    <div class="text-[16px] font-bold">ROBIWEBDEV.</div>
    <ul class="flex">
      <li class="px-[16px]">
        <a href="/">About</a>
      </li>
      <li class="px-[16px]">
        <a href="">Skill</a>
      </li>
      <li class="px-[16px]">
        <a href="">Experience</a>
      </li>
      <li class="px-[16px]">
        <a href="">Education</a>
      </li>
      <li class="px-[16px] no-underline">
        <a href="">Project</a>
      </li>
      <li class="px-[16px] no-underline">
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </div>
</header>
