<section class="py-10">
  <div class="mx-auto px-4 md:max-w-[1211px] md:px-8">
    <h2 class="!leading-140 text-3xl font-semibold tracking-tight md:font-bold 2xl:text-4xl">About</h2>
    <span class="mt-3 block text-[#888888]">
      I have previously worked on freelance web and mobile application development projects using react, flutter and
      laravel as a full-stack developer, and held a full-time job as a frontend developer.
    </span>
  </div>
</section>
