<div class="mx-auto flex h-screen px-4 md:max-w-[1211px] md:px-8">
  <div class="m-auto">
    <span class="text-white lg:text-[39px]">Hello there! 👋,</span>
    <h1 class="text-white mt-[20px] lg:text-[55px]">
      I’m <span class="font-extrabold text-green-light">Robi</span>, a frontend developer passionate about crafting
      beautiful and functional websites.
    </h1>
    <p class="mt-[39px] lg:text-[24px]">Exploring the Intersection of Design and Technology</p>
  </div>
</div>
