---
import ItemProject from '@/ItemProject.astro'

const projects = [
  {
    title: 'Ngaaaji',
    description: 'Ńgäâåjį - Quran web-based built with Next.js and Tailwind CSS.',
    link: 'https://ngaaaji.vercel.app/',
    icon: 'Arisan'
  },
  {
    title: 'Animepedia',
    description: 'Anime list pedia built with create-react-app, apollo graphql and emotion.',
    link: 'https://anime-pedia.netlify.app/',
    icon: 'Arisan'
  },
  {
    title: 'Poke',
    description: 'Pokemon list view character with bar chart built with Nuxt and tailwindcss.',
    link: 'https://robi-pokedex.netlify.app/',
    icon: 'Arisan'
  },
  {
    title: 'Service Booking Application',
    description:
      'Built with flutter to accommodate booking queue services provided by merchants for customers such as barber services, buildings, workshops, clinics, sports centers, wedding vendors, restaurants',
    icon: 'Salleri'
  },
  {
    title: 'Sellery POS System',
    description:
      'Selleri POS using react native builds for small and mid-sized businesses to make it easier to manage and control their businesses whenever and wherever.',
    link: 'https://www.selleri.co.id/',
    icon: 'Salleri2'
  },
  {
    title: 'Seed Management System',
    description:
      'Web based using laravel, such as to know the age of plant seeds, treatment schedules and distribution. POS system to manage seed stock, income and accounts payable.',
    link: 'https://www.asepbibit.com/',
    icon: 'Seed'
  },
  {
    title: 'Corporate Information System',
    description:
      'Web based application to manage schedule daily meeting top management and every corporate event, also handling lobbying activities record.',
    icon: 'Kanban'
  },
  {
    title: 'Arisan App',
    description: 'Social gathering management application, such as payment, and determining winners using Laravel.',
    link: 'https://github.com/robialisandi/Arisan-app',
    icon: 'Arisan'
  },
  {
    title: 'Menfess Twitter Base',
    description: 'Create a bot that auto posts direct messages on Twitter using Python.',
    link: 'https://twitter.com/garutfess',
    icon: 'Arisan'
  }
]
---

<section class="py-10">
  <div class="mx-auto px-4 md:max-w-[1211px] md:px-8">
    <h2 class="!leading-140 text-3xl font-semibold tracking-tight md:font-bold 2xl:text-4xl">Projects</h2>
    <span class="mt-3 block italic text-[#888888]">List of projects that I am proud of</span>
    <div class="mt-6 grid grid-cols-3 gap-10">
      {
        projects.map((post) => (
          <ItemProject icon={post.icon} link={post.link} title={post.title} description={post.description} />
        ))
      }
    </div>
  </div>
</section>
