---
import CardSkill from '@/CardSkill.astro'
---

<section class="py-10">
  <div class="mx-auto px-4 md:max-w-[1211px] md:px-8">
    <h2 class="!leading-140 text-3xl font-semibold tracking-tight md:font-bold 2xl:text-4xl">Skills</h2>
    <div class="mt-5 grid grid-cols-6 content-center gap-4">
      <CardSkill title="Javascript" image="javascript" />
      <CardSkill title="Vue" image="vue" />
      <CardSkill title="React" image="react" />
      <CardSkill title="GIT" image="git" />
      <CardSkill title="Figma" image="figma" />
      <CardSkill title="Laravel" image="laravel" />
      <CardSkill title="Flutter" image="flutter" />
      <CardSkill title="SCSS" image="flutter" />
      <CardSkill title="Styled Comp." image="flutter" />
    </div>
  </div>
</section>
